header 
{
    min-height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 24px;
}

#appbar-logo 
{
    width: 36px;
    height: 36px;
    padding: 4px;
    background-color: #1A1A1A;
    margin-right: 4px;
}
.logo-out-of-box:hover
{
    outline: 2px solid var(--primary-dark);
}
.a-logo 
{
    text-decoration: none!important;
    color: var(--text)!important;
}

.a-logo > div> h1 {
    font-size: 28px!important;
    font-family: var(--font-display);
    padding: inherit;
}
